# Mengabaikan node_modules di folder manapun
node_modules/
**/node_modules/

# Mengabaikan folder build Next.js dan Express
fe/.next/
fe/out/
be/dist/

# Mengabaikan file env (Sangat Rahasia!)
.env
.env.local
*.log
sprint_tasks.md

# Ignore uploaded files
/be/public/uploads/avatars/*
/be/public/uploads/templates/*

# Keep directory structure
!/be/public/uploads/avatars/.gitkeep
!/be/public/uploads/templates/.gitkeep